/*****************/
/* body styling */
/***************/

.style1 {
  background-color: green;
  color: white;
}

.style2 {
  background-color: purple;
  color: white;
}

.styleC {

}

/*******************/
/* button styling */
/*****************/

#display1 {
background-color: green;
color: white;
}

#display1:hover {
  cursor: pointer;
}

#display2 {
background-color: purple;
color: white;
}

#display2:hover {
  cursor: pointer;
}

#displayC {
background-color: lightgray;
color: black;
}

#displayC:hover {
  cursor: pointer;
}

/*******************/
/* clickable text */
/*****************/

#paragraph1 {
  margin: 5px;
}

#paragraph2 {
  margin: 5px;
}

.para-highlight {
  background-color: yellow;
  border: 2px solid black;
}

.clickable {
color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

#more-zoot {
color: #0088cc;
}

#more-zoot:hover {
  text-decoration: underline;
  cursor: pointer;
}

#no-more-zoot {
color: red;
}

#no-more-zoot:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*******************************/
/* sections that start hidden */
/*****************************/

#zoot-shown {
  display: none;
}

#extra-zoot {
  display: none;
}

#more-zoot-parent {
  display: none;
}
